In [129]:
import findspark

In [130]:
findspark.init('/home/pushya/spark-2.1.0-bin-hadoop2.7')

In [131]:
import pyspark

In [132]:
from pyspark.sql import SparkSession

In [133]:
spark = SparkSession.builder.appName('mylogreg').getOrCreate()

In [134]:
from pyspark.ml.classification import LogisticRegression

In [135]:
# Load training data
df = spark.read.csv("titanic.csv",inferSchema=True,header=True)

In [136]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [137]:
colums = df.select('Survived',
 'Pclass','Sex',
 'Age',
 'SibSp',
 'Parch',
'Fare',
 'Cabin',
 'Embarked'
                  )

In [99]:
my_final_data = colums.na.drop()

In [138]:
my_final_data.show()

+--------+------+------+----+-----+-----+--------+-----------+--------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|    Fare|      Cabin|Embarked|
+--------+------+------+----+-----+-----+--------+-----------+--------+
|       1|     1|female|38.0|    1|    0| 71.2833|        C85|       C|
|       1|     1|female|35.0|    1|    0|    53.1|       C123|       S|
|       0|     1|  male|54.0|    0|    0| 51.8625|        E46|       S|
|       1|     3|female| 4.0|    1|    1|    16.7|         G6|       S|
|       1|     1|female|58.0|    0|    0|   26.55|       C103|       S|
|       1|     2|  male|34.0|    0|    0|    13.0|        D56|       S|
|       1|     1|  male|28.0|    0|    0|    35.5|         A6|       S|
|       0|     1|  male|19.0|    3|    2|   263.0|C23 C25 C27|       S|
|       1|     1|female|49.0|    1|    0| 76.7292|        D33|       C|
|       0|     1|  male|65.0|    0|    1| 61.9792|        B30|       C|
|       0|     1|  male|45.0|    1|    0|  83.475|        C83|       S|
|       1|     2|female|29.0|    0|    0|    10.5|        F33|       S|
|       0|     3|  male|25.0|    0|    0|    7.65|      F G73|       S|
|       1|     1|female|23.0|    3|    2|   263.0|C23 C25 C27|       S|
|       0|     1|  male|46.0|    1|    0|  61.175|        E31|       S|
|       0|     1|  male|71.0|    0|    0| 34.6542|         A5|       C|
|       1|     1|  male|23.0|    0|    1| 63.3583|    D10 D12|       C|
|       0|     1|  male|21.0|    0|    1| 77.2875|        D26|       S|
|       0|     1|  male|47.0|    0|    0|    52.0|       C110|       S|
|       0|     1|  male|24.0|    0|    1|247.5208|    B58 B60|       C|
+--------+------+------+----+-----+-----+--------+-----------+--------+
only showing top 20 rows

In [139]:
from pyspark.ml.feature import (VectorAssembler,VectorIndexer,
                       OneHotEncoder,StringIndexer)

In [140]:
gender_indexer = StringIndexer(inputCol='Sex',outputCol='SexIndex')
gender_encoder = OneHotEncoder(inputCol='SexIndex',outputCol='SexVec')

In [141]:
embark_indexer = StringIndexer(inputCol='Embarked',outputCol='EmbarkIndex')
embark_encoder = OneHotEncoder(inputCol='EmbarkIndex',outputCol='EmbarkVec')

In [145]:
assembler = VectorAssembler(inputCols=['Pclass',
 'SexVec',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'EmbarkVec'],outputCol='features')

In [146]:
from pyspark.ml.classification import LogisticRegression

In [147]:
from pyspark.ml import Pipeline

In [148]:
log_reg_titanic = LogisticRegression(featuresCol='features',labelCol='Survived')

In [149]:
pipeline = Pipeline(stages=[gender_indexer,embark_indexer,
                           gender_encoder,embark_encoder,
                           assembler,log_reg_titanic])

In [150]:
train_titanic_data, test_titanic_data = my_final_data.randomSplit([0.7,.3])

In [151]:
fit_model = pipeline.fit(train_titanic_data)

In [153]:
results = fit_model.transform(test_titanic_data)

In [154]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [155]:
my_eval = BinaryClassificationEvaluator(rawPredictionCol='rawPrediction',
    labelCol='Survived')

In [156]:
my_eval.evaluate(results)

0.6606334841628959

In [158]:
results.select('Survived','prediction').show()

+--------+----------+
|Survived|prediction|
+--------+----------+
|       0|       1.0|
|       0|       1.0|
|       0|       1.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       1.0|
|       0|       1.0|
|       1|       1.0|
|       1|       1.0|
|       1|       1.0|
+--------+----------+
only showing top 20 rows